google-generativeai
langchain
PyPDF2
faiss-cpu
streamlit
sentence-transformers
langchain_community
langchain
langchain_google_genai
google
gpt4all==1.0.8
streamlit_mic_recorder
SpeechRecognition
